body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom left, #e39ab9, #79CBCA, #8ba9ce);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom left, #e39ab9, #79CBCA, #8ba9ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.g-card {
  margin: 20px;
}

.g-card-image {
  border-radius: 10px;
  width: 350px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #cccccc;
}

.g-card-info {
  margin-top: 10px;
  min-height: 100px
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
}

.g-card-sub-title {
  font-size:  16px;
  margin: 0px;
}

.img-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 480px;
}

.c-card-title {
  text-align: center;
}
.card-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.lowerDeck {
  margin-top: 30px;
}
